body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-repeat: repeat;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.lineUpButton {
  padding: 5px 12px;
  float: left;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  position:absolute;
  border: 2px solid rgba(0,0,0,0.5);
}
.nerdyDancer {
  border: none;
}
.unmute{
  background-image: url(http://franriavilla.in/images/unmute.png);
  background-size: cover;
  width: 25px;
  height: 15px;
  cursor: pointer;
  padding: 5px 2px;
  float: left;
  }

.mute{
  background-image: url(http://franriavilla.in/images/mute.png);
  }